@import 'animation';

@font-face {
  font-family: nimbus;
  src: url('../assets/fonts/nimbus-roman.otf');
}

@font-face {
  font-family: 'Nimbus Sans Extended D';
  src: url(../assets/fonts/NimbusSansExtD-Bold.woff2) format('woff2'),
    url(../assets/fonts/NimbusSansExtD-Bold.woff) format('woff');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Nimbus Roman D';
  src: url(../assets/fonts/NimbusSansExtD-Bold.woff) format('woff2'),
    url(../assets/fonts/NimbusRomanD-Regular.woff) format('woff');
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Farfetch Basis';
  src: url(../assets/fonts/FarfetchBasis-Regular.woff2) format('woff2'),
    url(../assets/fonts/FarfetchBasis-Regular.woff) format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Farfetch Basis';
  src: url(../assets/fonts/FarfetchBasis-Bold.woff2) format('woff2'),
    url(../assets/fonts/FarfetchBasis-Bold.woff) format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --fontNormal: 'Farfetch Basis', 'Helvetica Neue', Arial, sans-serif;
}

body[scrolling='true'] {
  .header {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
  }
}

.header {
  .nav-link {
    font-weight: normal;
    font-size: 16px;
    a {
      &.active {
        font-weight: bold !important;
      }
    }
  }
}

.newin-section {
  grid-area: content;
}

.newin-cards {
  & > div {
    padding: 1rem;
    position: relative;

    &::before {
      content: '';
      pointer-events: none;
      position: absolute;
      inset: 0px;
      z-index: 1;
      background-color: rgba(34, 34, 34, 0.04);
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0px;
      background-image: var(--custom-background-image);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0;
      cursor: pointer;
      transition: cubic-bezier(0.66, 0, 0.2, 1);
    }

    &:hover {
      &::after {
        content: '';

        opacity: 1;
      }
    }
  }
}

.card-favorite {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;

  svg {
    width: 24px;
    height: 24px;
    &:first-child {
      position: absolute;
    }
    &:last-child {
      opacity: 0;
    }
  }

  &:hover {
    svg {
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
      }
    }
  }
}

.New-input-checked {
  input[type='checkbox']:checked {
    & ~ svg[data-icon='false'] {
      display: none;
    }

    & ~ svg[data-icon='true'] {
      display: block;
    }
  }

  input[type='checkbox']:not(:checked) {
    & ~ svg[data-icon='false'] {
      display: block;
    }

    & ~ svg[data-icon='true'] {
      display: none;
    }
  }
}

// start product container
.view-product {
  .product-container {
    .lightbox-container {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      gap: 0.8rem;

      img {
        height: 100% !important;
        width: 100% !important;
        &:nth-of-type(n + 1) {
          grid-column: span 6;
        }

        &:nth-of-type(n + 3) {
          grid-column: span 4;
        }
      }
    }
  }

  .product-details-right {
    position: sticky;
    top: 135px;
  }
}

.details-product-available {
  div {
    width: 33.333%;

    &:last-child {
      justify-content: start !important;
    }
  }
}

.bread-crumbs-style {
  div,
  a {
    color: #222;
    font-size: 14px;
  }
}

.wishlist-button {
  .icon-hide {
    display: none;
  }

  &:hover {
    .icon-show {
      display: none;
    }
    .icon-hide {
      display: block;
    }
  }
}

.mantine-Menu-dropdown {
  top: 70px !important;
}

.drop-down-menu-navbar {
  .mantine-1tob3vr {
    padding: 0;
  }
}

.drawer-search {
  .mantine-Drawer-header {
    display: none;
  }
  .mantine-Drawer-body {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .mantine-Drawer-content {
    padding-bottom: 1rem;
  }
}

.navigation-accordion {
  .mantine-Accordion-content,
  .mantine-Accordion-control {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .mantine-Accordion-control {
    &:hover {
      background-color: transparent !important;
    }
  }

  .mantine-Accordion-chevron {
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }
}

.sidebar-menu {
  .mantine-Drawer-header {
    display: none;
  }
  .mantine-Drawer-body {
    padding: 10px;
  }
}

.dropdown-user-info {
  .mantine-Accordion-panel {
    background-color: #fff !important;
  }

  .mantine-Accordion-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.dropdown-language-info {
  .mantine-Accordion-control {
    padding: 0;
  }

  .mantine-Accordion-chevron {
    svg {
      width: 24px !important;
      height: 24px !important;
    }
  }

  .mantine-Accordion-item {
    border-bottom: none;
  }

  .mantine-Accordion-content {
    padding: 0;
  }
}

.sort-by-list {
  z-index: 99;
  position: relative;

  .mantine-Accordion-label {
    text-align: center;
    font-weight: bold;
  }
  .mantine-Accordion-control,
  .mantine-Accordion-content {
    padding: 0 40px;
  }

  .mantine-Accordion-content {
    padding-bottom: 10px !important;
    padding: 0 !important;
  }

  .mantine-Accordion-item[data-active] {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0.8rem 1.6rem 0.2rem;
    background-color: #fff;
    color: #222;

    background-color: #fff !important;
  }
}

.profile-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0rem 1rem 0.05rem;
}

.contact-us-form {
  label {
    margin-bottom: 0.5rem;
  }
}

.checkbox-payment-checkout {
  .mantine-Checkbox-label {
    font-size: 20px !important;
  }
}

.next-button-stepper {
  .mantine-1vzn4u4 {
    border: 1px solid var(--mainColor);
  }
}

// media query
@import 'media';
